@font-face {
    font-family: "huipu1";
    src: url('./Alibaba-PuHuiTi-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "huipu2";
    src: url('./Alibaba-PuHuiTi-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "huipu3";
    src: url('./Alibaba-PuHuiTi-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "huipu4";
    src: url('./Alibaba-PuHuiTi-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "huipu5";
    src: url('./Alibaba-PuHuiTi-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}